:root {
  --nikon-yellow: #ffde00;
}

.headerText {
  text-decoration: none;
}

.form-input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  outline: none;
  box-shadow: none;
}

.form-input:focus {
  box-shadow: none;
}

.custom-button {
  border-radius: 0;
  border: none;
  background-color: var(--nikon-yellow);
  color: black;
  height: 50px;
}

.image-container {
  position: relative; 
  display: inline-block;
}

.background {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 100%;
  height: 100%;
  background-color: var(--nikon-yellow);
  z-index: 1;
}

.image-container img {
  position: relative;
  z-index: 2; 
}